* {
    font-family: 'Daubenton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F3DFC1; 
    margin: 0%;
}

.navbar {
    top: 0px;
    /* margin: 3%; */
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background: #F3DFC1;
    color: #1A0000;
    padding: 10px 20px;
    border-bottom-style: solid;
    border-color: #1A0000;
    border-width: 2px;
}

.navbar ul li {
    float: left;
}

ul li a {
    display: block;
    color: #1A0000;
    background: #F3DFC1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    /* background-color: #111111; */
}

.navlist {
    display: flex;
    list-style: none;
    background: #F3DFC1;
        }

.navlist li {
    margin-right: 20px;
}

.navlist li:last-child {
    margin-right: 0;
}

.navlist li a {
    text-decoration: none;
    color: #1A0000;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.navlist li a:hover {
    color: #762222;
    /* Change the color on hover */
}