<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anthracite Journal</title>
        <link rel="stylesheet" href="../static/styles.css">

        <style>

        </style>
    </head>

    <body>

        <header>
            <h1 style="">Welcome to the Anthracite Journal</h1>
        </header>

        <section>

            <nav>
                <a href="{{ url_for('upload_file') }}">Upload File</a><br>
                <a href="{{ url_for('display_files') }}">View Uploaded Files</a>
            </nav>

            <article>
                <h2> About Anthracite</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Praesent arcu molestie semper netus bibendum cursus non. Euismod libero hac rhoncus habitant magna lacus semper senectus ac dui fames.
                </p>
                <p>
                    Rhoncus eu euismod curae consequat enim leo est ante cras justo luctus euismod ex malesuada. Ultricies dictum mauris varius auctor vitae at erat rhoncus. Morbi nullam massa sapien rutrum lectus nunc interdum sodales tempor tincidunt quisque ultrices sollicitudin. Duis sit vehicula nec sed placerat placerat purus urna.
                </p>
            </article>

        </section>

    </body>

</html>
